h2{
    color: aliceblue;
    font-size: small;
    font-family: 'Sixtyfour', sans-serif;
}
#primaria{
    width: 832px;
    height: 250px;
    border-radius: 30px;
    border-width: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
}
html{
    scroll-behavior:smooth;
}
#fondo{
    background-color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    align-content: center;
}
#menu{
    width: 210px;
    height: 250px;
    border-radius: 30px;
    border-width: 7px;
    border-style: solid;
    border-color:rgb(110, 76, 4);
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    align-content: center;
}
#secundarias{
    width: 210px;
    height: 150px;
    border-radius: 30px;
    border-width: 7px;
    border-style: solid;
    border-color:rgb(110, 76, 4);
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    align-content: center;
}
.contenido{
    width: 832px;
    height: 250px;
    display: flex;
}
#miniaturas{
    width: 210px;
    height: 270px;
    border-radius: 30px;
    border-width: 7px;
    border-style: solid;
    border-color:rgb(110, 76, 4);
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    align-content: center;
}
#galeria{
    width: 350px;
    height: 210px;
    border-radius: 30px;
    border-width: 7px;
    border-style: solid;
    border-color:rgb(110, 76, 4);
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    align-content: center;
}

/*escritorio web*/
@media (min-width: 833px)  {
    body{background: rgb(0, 0, 0);}
}
/*tablet*/
@media (min-width: 415px) and (max-width: 833px) and (orientation:portrait) {
    body{background: rgb(0, 0, 0);}
}
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: rgb(0, 0, 0);}
}
/*celular*/
@media (max-width: 415px) and (max-width: 833px) and (orientation:portrait) {
    body{background: rgb(0, 0, 0);}
 }
@media (min-width: 415px) and (max-width: 833px) and (orientation:landscape) {
    body{background: black;}
}