html{
    scroll-behavior:smooth;
}
    
#imagen{
    width: 95%;
    height: 100%;
    border-radius: 30px;
    border-width: 7px;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    display: inline-block;
    align-content: center;
}
#imagen2{
    width: 95%;
    height: 100%;
    border-radius: 30px;
    border-width: 7px;
    border-style: solid;
    border-color:rgb(231, 117, 10);
    display: inline-block;
    align-content: center;
}
#imagen3{
    width: 15%;
    height: 100%;
    margin-left: 10px;
    border-radius: 40px;
    border-width: 4px;
    border-style: solid;
    border-color:rgb(231, 117, 10);
    display: inline-block;
    align-content: center;
}
#imagen4{
    width: 95%;
    height: 300px;
    margin-left: 10px;
    border-radius: 40px;
    border-width: 4px;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    display: inline-block;
    align-content: center;
}
#imagen5{
    width: 95%;
    height: 500px;
    margin-left: 10px;
    border-radius: 40px;
    border-width: 4px;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    display: inline-block;
    align-content: center;
}

/*escritorio web*/
@media (min-width: 833px)  {
    body{background: rgb(0, 0, 0);}
}
/*tablet*/
@media (min-width: 415px) and (max-width: 833px) and (orientation:portrait) {
    body{background: rgb(0, 0, 0);}
}
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: rgb(0, 0, 0);}
}
/*celular*/
@media (max-width: 415px) and (max-width: 833px) and (orientation:portrait) {
    body{background: rgb(0, 0, 0);}
 }
@media (min-width: 415px) and (max-width: 833px) and (orientation:landscape) {
    body{background: black;}
}